# Only for Docker Deployment

BOT_TOKEN= 6392016724:AAFGLr0Hz1ZTNIZnfNEatSeLKDO8ZNE8XRM # Get it from @botfather

API_ID= 27412915

API_HASH= 3fcf3b84e1bad89d67c216c0750da858

SUDO_USERS_ID= 7552579717

LOG_GROUP_ID= -1001603822916

GBAN_LOG_GROUP_ID= -1001603822916

MESSAGE_DUMP_CHAT= -1001819089478

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://hny:zara@cluster0.lfe5o.mongodb.net/?retryWrites=true&w=majority

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

